.App {
  text-align: center;
}
.page {
  width: 100%;
  top: 0;
  bottom: 0;
  height: 2000px;
  background: url(http://api.thumbr.it/whitenoise-1200x2000.png?background=ebeae8ff&noise=626262&density=68&opacity=7);
}

main {
  margin-top: 110px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
