header {
  position: absolute;
  top: 0;
  height: 130px;
  width: 100%;
}
menu {
  text-align: center;


}
menu li {
  list-style:none;
  display: inline-block;
  background-color: white;
  opacity: 0.5;
  padding: 10px;
  margin: 15px;
}
/*.content-img {
  height: 100px;
  width: 100px;
}*/

header img {
  position: inherit;
  margin-left: 2%;
}

@media (max-width: 1150px) {
  header img {
    position: inherit;
    margin-left: 2%;
    width: 15vw;
  }
}
