
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Margin-left List Margin-right"
    "Margin-left List Margin-right"
    "Margin-left List Margin-right"
    "Margin-left List Margin-right";
}
.List { grid-area: List; }
